
#aboutus{
    padding-top:100px;
}
header{
    width: 100%;
    height: 400px;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(176, 68%, 74%, 0.61), hsla(219, 67%, 72%, 0.61), hsla(240, 51%, 67%, 0.644)),url(../imagenes/emprendedoresportada.jpg) no-repeat;
      /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(176, 68%, 74%, 0.61), hsla(219, 67%, 72%, 0.61), hsla(240, 51%, 67%, 0.644)),url(../imagenes/emprendedoresportada.jpg) no-repeat; 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    }

nav{
    position: relative;
    text-align: left;
    padding: 30px 50px 0 0;
}
nav >a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav >a:hover{
    color: white;

    text-decoration: underline;
    text-decoration-color: white;
}

nav > a.casas{
    margin-left: 600px;
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a.casa:hover{
    text-decoration: underline;
    -moz-text-decoration-color: white;
    text-decoration-color: white;
}
nav > a.casas:hover{
    text-decoration: underline;
}
#aboutus h2{
    margin-bottom: 25px;
     
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.img-wrap{width: 100%}
.img-wrap img{width:100%; padding: 10px;border-radius: 50%;box-shadow: 0 0 10px #999999;}
    
